@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-100 leading-relaxed;
  }
  h1, h2, h3 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  section {
    @apply py-14;
  }
  section h1 {
    @apply mb-6
  }
  section h2 {
    @apply mb-3
  }
  section h3 {
    @apply mb-1
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  small {
    @apply text-[0.92em];
  }
  a:not(nav a, .product-grid a), 
  a:visited:not(nav a) {
    @apply underline underline-offset-4;
  }
  a:hover:not(nav a, .product-grid a), 
  a:focus:not(nav a, .product-grid a) {
    @apply text-accent no-underline
  }
}

@layer components {
  .btn:not(nav .btn, .page-select .btn, .qty-btn) {
    @apply rounded-lg;
  }
  .text-content p {
    @apply mb-6;
  }
  .section-divider {
    @apply border-b border-base-200;
  }
  .page-select {
    @apply space-x-2;
  }
  .page-select .btn {
    @apply rounded-md
  }
}