@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige-light: 255, 244, 224;
  --brown-dark: 33, 20, 0;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1, h2, h3 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  p a, a:hover, a:visited, a:focus {
    text-decoration: underline;
  }
}